<mat-toolbar color="primary">
  <ng-container matColumnDef="actions">
    <button type="button" mat-icon-button (click)="refresh()">
      <mat-icon>refresh</mat-icon>
    </button>
    <button type="button" mat-icon-button (click)="addNew()">
      <mat-icon>add</mat-icon>
    </button>
    <!--
      <button mat-icon-button (click)="startEdit()">
        <mat-icon>edit</mat-icon>
      </button>
    -->
    <button type="button" mat-icon-button (click)="deleteItem()">
      <mat-icon>delete</mat-icon>
    </button>
  </ng-container>
</mat-toolbar>

<div class="mat-elevation-z8">

  <div class="filter-form">
    <mat-form-field floatPlaceholder="never" color="accent">
      <input matInput #filter placeholder="Filter issues">
    </mat-form-field>
  </div>
  <!--mat-cell-->
  <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8" matSort cdkDropListGroup>
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>
    <div *ngFor="let column of dataSource.columns ; let i = index">
      <ng-container *ngIf="column.columnDef != 'select'" [matColumnDef]="column.columnDef">
        <mat-header-cell [ngStyle]="{'width.px': column.width}" *matHeaderCellDef (mousedown)="onResizeColumn($event, i)">
        {{column.header}}
        </mat-header-cell>
        <mat-cell [ngStyle]="{'width.px': column.width}" *matCellDef="let row;let index = index" [matTooltip]="getToolTipData(row.number)" matTooltipPosition="left" [matTooltipDisabled]="(selection.isSelected(row))">
          <mat-form-field>
            <input  matInput [type]="column.type" [(ngModel)]="dataSource.dataService.dataRows.value[index][column.columnDef]" [value]="dataSource.dataService.dataRows.value[index][column.columnDef]" [disabled]="!(selection.isSelected(row))">
          </mat-form-field>
        </mat-cell>
      </ng-container>
    </div>


    <mat-header-row *matHeaderRowDef="dataSource.displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: dataSource.displayedColumns;"></mat-row>

  </mat-table>


  <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
    No results
  </div>

</div>
<mat-paginator #paginator
               [length]="dataSource.filteredData.length"
               [pageIndex]="0"
               [pageSize]="10"
               [pageSizeOptions]="[5, 10, 25, 100]"
               class="mat-paginator-sticky">
</mat-paginator>
