.start-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}


.start-Column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
}


mat-form-field {
  max-height: 53px;
  max-width:  180px;
  margin : 0px 0px 6px 0px;
}

mat-checkbox {
  min-height: 53px;
  max-height: 53px;
  min-width: 180px;  
}
